.bc_ad120x600{
	width:120px;
	height:600px; 
}
.bc_ad160x600{
	width:160px;
	height:600px; 
}
.bc_ad300x250{
	width:300px;
	height:250px;
}
.bc_ad336x280{
	width:336px;
	height:280px;
}
.bc_ad468x60{
	width:468px;
	height:60px;
}
.bc_ad728x90{
	width:728px;
	height:90px;
}
.bc_ads_demo{
	color: red;
	text-align: center;
}

